<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageMap4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageMap4Avalonia.ImageMap4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageMap4.Properties.Settings>
            <setting name="JavaFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>%appdata%\.minecraft\saves</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BedrockFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>%localappdata%\Packages\Microsoft.MinecraftUWP_8wekyb3d8bbwe\LocalState\games\com.mojang\minecraftWorlds</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StretchChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DitherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlgorithmChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowEmptyMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColorChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreateStructures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvisibleFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlowingFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventoryChoice" serializeAs="String">
                <value>1</value>
            </setting>
        </ImageMap4.Properties.Settings>
        <ImageMap4Avalonia.ImageMap4.Properties.Settings>
            <setting name="JavaFolders" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;string&gt;%appdata%\.minecraft\saves&lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="BedrockFolders" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;string&gt;%localappdata%\Packages\Microsoft.MinecraftUWP_8wekyb3d8bbwe\LocalState\games\com.mojang\minecraftWorlds&lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="StretchChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DitherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlgorithmChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowEmptyMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColorChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreateStructures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvisibleFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlowingFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventoryChoice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UsernameCache" serializeAs="String">
                <value />
            </setting>
        </ImageMap4Avalonia.ImageMap4.Properties.Settings>
    </userSettings>
</configuration>