<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colourful" version="2.0.5" targetFramework="net461" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net461" />
</packages>